<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style type="text/css">
    	body {
    		background-image: url("http://blog.hostbaby.com/wp-content/uploads/2014/03/PaintSquares_1400x900.jpg")
    	}
    	.column{
    		float: left;
    		width: 33.33 %;
    		padding: 5px;
    	}
    	.row{
    		content: "";
    		clear: both;
    		display: table;
    	}
    	h1{
    		color: white;
    	}
    </style>
</head>
<body>
	<div class="row">
		<div class="column">
	    <h1 align="center">Biodata ku</h1>
	    <img src="https://lh4.googleusercontent.com/_KedNCqQNqBCmaN1RcJt7oFb1WHvXeN56nZuaOmwKBF_xTOFEP55HH7cNvJ63dhnr3_Z1NVObHTBYA=w1366-h662-rw" height="400" width="400" border="5"  />
	    <p><b>Nama</b>	: {{name}}</p>
	    <p><b>NPM</b>	: {{ npm }}</p>
	    <p><b>Umur</b>	: {{ age }} Tahun</p>
	    <p><b>Tempat Kuliah</b>	: Universitas Indonesia</p>
	    <p><b>Hobby</b>	: Acting,Badminton,Film Making </p>
	    <p><b>Deskripsi</b>	: Seorang anak yang mempunyai cita cita tinggi</br> dan percaya kalau ia bisa meraih apa yang tinggi itu karena Allah.</p>
	    </div>

	    <div class="column">
	    <h1 align="center">Biodata teman kanan ku</h1>
	    <img src="https://media.licdn.com/dms/image/C5603AQHSzFAK6hyfPg/profile-displayphoto-shrink_200_200/0?e=1538006400&v=beta&t=j6xHeQRik6YI41IS826I8XL-y0-Wk5C7bxa-yjGZqx4" height="400" width="400" border="5" />
	    <p><b>Nama</b>	: Abiyu Muhammad Akmal</p>
	    <p><b>NPM</b>	: 1706984474</p>
	    <p><b>Umur</b>	: 19 Tahun</p>
	    <p><b>Tempat Kuliah</b>	: Universitas Indonesia</p>
	    <p><b>Hobby</b>	: Badminton </p>
	    <p><b>Deskripsi</b>	: orang yang sederhana dan humoris.</p>
		</div>

		<div class="column">
	    <h1 align="center">Biodata teman kiri ku</h1>
	    <img src="https://bem.cs.ui.ac.id/staf/assets/2018/img/photo/1706984796.jpg" height="400" width="400" border="5" />
	    <p><b>Nama</b>	: Yudha Anada Rahayu Putra</p>
	    <p><b>NPM</b>	: 1706984796</p>
	    <p><b>Umur</b>	: 19 Tahun</p>
	    <p><b>Tempat Kuliah</b>	: Universitas Indonesia</p>
	    <p><b>Hobby</b>	: Film Making</p>
	    <p><b>Deskripsi</b>	: Orang yang sanggat gigih dalam berkerja</p>
	    </div>
    </div>


</body>
</html>
